html, body {
    height: 100%;
}

body {
    background-image: url(../images/background.jpg);
}

#wrapper {
    margin: 5.5% auto;
    background-color: rgb(104, 220, 202);
    width: 960px;
    height: 90%;
    box-sizing: border-box;
}

#subwrapper {
    position: relative;
    font-family: 'Arial Black Header';
    text-align: center;
}

button {
    display: block;
    width: 50%;
    height: 20%;
    margin: 0 auto;
    border: none;
    cursor: pointer;
    background: transparent;
    font-size: 42px;
}

h1 {
    font-size: 5.5em;
    font-weight: bold;
    color: black;
    padding-top: 2.5%;
    text-align: center;
    font-family: 'Arial Black';
}

h2 {
    font-size: 35px;
    margin-bottom: 25px;
}

h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

#start {
    margin-top: 10%;
    border: 5px solid rgb(110, 56, 235);
    background: rgb(240, 238, 162);
    font-family: 'Arial Black';
}

button:hover {
    border: 5px solid rgb(28, 244, 240);
    background: rgb(240, 238, 162);
}